<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Binaries" version="3.2.0" targetFramework="net45" />
  <package id="MonoGame.Framework.Portable" version="3.2.99.1-Beta" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
</packages>